body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

@font-face {
  font-family: 'Nabla Regular';
  src: url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/962R62pIWDr1.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/wS70af68UmC8.woff') format('woff');
  font-display: swap;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '得意黑 斜体';
  /* font-weight: 100; */
  src: url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/lik05ygAIoPx.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/J5gMDskANJSi.woff') format('woff');
  font-display: swap;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '阿里妈妈方圆体 VF Regular';
  src: url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/I2hxUXWQ0XcK.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/pCR941R7LgwR/4Zf3xaxQs87s.woff') format('woff');
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
